.vscode
*.o
*.a
bin/debugger
bin/imgui.ini
bin/log.txt
src/a.out
src/debugger
src/elfdump
src/hello
src/main
src/imgui.ini
src/log.txt
src/tmpOutput
vendor/glfw-3.3.8/tests
vendor/glfw-3.3.8/docs
vendor/glfw-3.3.8/CMakeCache.txt
vendor/glfw-3.3.8/CMakeDoxyfile.in
vendor/glfw-3.3.8/CMakeDoxygenDefaults.cmake
vendor/glfw-3.3.8/CMakeFiles/
vendor/glfw-3.3.8/Makefile
vendor/glfw-3.3.8/cmake_install.cmake
vendor/glfw-3.3.8/cmake_uninstall.cmake
vendor/glfw-3.3.8/examples/CMakeFiles/
vendor/glfw-3.3.8/examples/Makefile
vendor/glfw-3.3.8/examples/boing
vendor/glfw-3.3.8/examples/cmake_install.cmake
vendor/glfw-3.3.8/examples/gears
vendor/glfw-3.3.8/examples/heightmap
vendor/glfw-3.3.8/examples/offscreen
vendor/glfw-3.3.8/examples/particles
vendor/glfw-3.3.8/examples/sharing
vendor/glfw-3.3.8/examples/simple
vendor/glfw-3.3.8/examples/splitview
vendor/glfw-3.3.8/examples/wave
vendor/glfw-3.3.8/install_manifest.txt
vendor/glfw-3.3.8/src/CMakeFiles/
vendor/glfw-3.3.8/src/Makefile
vendor/glfw-3.3.8/src/cmake_install.cmake
vendor/glfw-3.3.8/src/glfw3.pc
vendor/glfw-3.3.8/src/glfw3Config.cmake
vendor/glfw-3.3.8/src/glfw3ConfigVersion.cmake
vendor/glfw-3.3.8/src/glfw_config.h
